@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
}

body {
  min-height: 100vh;

  background: url("https://img.freepik.com/vetores-gratis/papel-de-parede-geometrico-de-design-grafico_52683-34399.jpg?w=1380&t=st=1670096092~exp=1670096692~hmac=867f14f74434212f667878bb841436039c68130dd8cc61a2a50b64a3af04a0a3");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  background-color: #f6b23a;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.result {
  padding: 1.5rem;
  text-align: right;
  border-radius: 1rem 1rem 0 0;
  background-color: #e9e9e9;;
  color: black;
  font-size: 2rem;
}

table {
  padding: .8rem;
}

td {
  padding: .25rem;
}

button {  
  background-color: #f2f2f2;
  border-radius: 5rem;
  height: 3.5rem;
  width: 3.5rem;
  border: none;
}

button:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}

.zero {
  width: 8rem;
}

.equal {
  height: 8rem;
}
